@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #d9bbf4;
}

.quote_box {
  background: #cfc6c6;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(10, 10, 10, 0.15);
}
.quote_box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote_box h2::after {
    content: ' ';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 101, 211);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50px);
} 

.quote_box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote_box blockquote::before, .quote_box blockquote::after {
    
    content: '"';
}

.quote_box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote_box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 101, 211);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote_box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote_box button {
    background: rgb(23, 101, 211);
    color: #fff;
    border-radius: 20px;
    border: 1px solid rgb(23, 101, 211);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote_box button img {
    width: 20px;
    margin-left: 10px;
}
.quote_box button:nth-child(2) {
    background: transparent;
    color: #fff;
}
